<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form  th:object="${articleVO}" th:action="@{/admin/article}"
              method="POST" th:with="">
         <table style="text-align:left;">
            <tr>
               <td>reference *</td>
               <td><input th:field="${articleVO.reference}"  /></td>
            </tr>
            <tr>
               <td>designation *</td>
               <td><input th:field="${articleVO.designation}"  /></td>
            </tr>
            <tr>
               <td>Price *</td>
               <td><input th:field="${articleVO.price}"  /></td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Submit" />
                  <input type="reset" value="Reset" />
               </td>
            </tr>
         </table>
      </form>
</body>
</html>