<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form  th:object="${articleVO}" th:action="@{/admin/article}"
              method="POST" enctype="multipart/form-data">
         <table style="text-align:left;">
            <tr>
               <td>Code *</td>
               <td style="color:red;">
<!--                   <input th:field="*{id}" type="hidden" /> -->
                  <input th:if="${articleVO.id}" type="text" />  
<!--                   <th:block th:if="@{${articleVO.id} != null}">    -->
<!--                        <span th:utext="${articleVO.id}"></span>    -->
<!--                        <input type="hidden" th:field="${articleVO.id}" />                                        -->
<!--                   </th:block>    -->
               </td>
            </tr>
            <tr>
               <td>reference *</td>
               <td><input th:field="${articleVO.reference}"  /></td>
            </tr>
            <tr>
               <td>designation *</td>
               <td><input th:field="${articleVO.designation}"  /></td>
            </tr>
            <tr>
               <td>Price *</td>
               <td><input th:field="${articleVO.price}"  /></td>
            </tr>
            <tr>
               <td>Upload Image</td>
               <td><input type="file" th:field="${articleVO.file}" /></td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Submit" />
                  <input type="reset" value="Reset" />
               </td>
            </tr>
         </table>
      </form>
</body>
</html>